<a href="https://colab.research.google.com/github/Tayyaba-Ramzan/Python-Assignments-List-Dict-Grade-Discount-Game/blob/main/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***For Loop Assignment - Number Patterns***

## üìù Assignment Overview

In this assignment, you will create **number patterns** using `for` loops in Python.

You will practice:
- Looping with `range()`
- Nesting loops (if required)
- Printing patterns using `print()`

# ***Tasks:***

## üî¢ Pattern 1: Counting Numbers

**Goal:** Print numbers from 1 to 10 on a single line.

In [ ]:
for number in range(1,11):
  print(number)

1
2
3
4
5
6
7
8
9
10

## ‚úñÔ∏è Pattern 2: Multiplication Table

**Goal:** Create a multiplication table for the number 5 (from 1 to 10).

In [ ]:
for five_table in range(1,11):
  print("5 x",five_table,"=",five_table*5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50