<a href="https://colab.research.google.com/github/Tayyaba-Ramzan/Python-Assignments-List-Dict-Grade-Discount-Game/blob/main/python_list_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***List Methods Practice***

### ðŸ“˜ *Assignment Overview*

In this assignment, you will practice using different **list methods in Python**.

*Lists are a fundamental data structure, and understanding how to manipulate them is essential for Python programming.*

# ***Tasks:***

# ***1. Create and Modify Lists***

1. Create a list called `fruits` with the items: `"apple"`, `"banana"`, `"orange"`  
2. Add `"grape"` to the end of the list using an appropriate method  
3. Insert `"mango"` at position 2 in the list  
4. Remove `"banana"` from the list  
5. Print the final list

In [ ]:
fruit=["apple","banana","orange"]
fruit.append("grapes")
print(fruit)
fruit.insert(2,"mango")
print(fruit)
fruit.remove("banana")
print(fruit)

['apple', 'banana', 'orange', 'grapes']
['apple', 'banana', 'mango', 'orange', 'grapes']
['apple', 'mango', 'orange', 'grapes']

# ***2. List Operations***

### List Operations Assignment

1. Create a list `numbers` with values: 10, 20, 30, 40, 50  
2. Create a second list `more_numbers` with values: 60, 70, 80  
3. Combine both lists into a new list called `all_numbers`  
4. Make a copy of `all_numbers` called `numbers_copy`  
5. Reverse the order of `numbers_copy`  
6. Print both `all_numbers` and `numbers_copy`

In [ ]:
numbers=[10,20,30,40,50]
more_numbers=[60,70,80]
all_numbers=numbers+more_numbers
numbers_copy=all_numbers.copy()
numbers_copy.reverse()
print("All Numbers:", all_numbers)
print("Numbers Copy (Reversed):", numbers_copy)

All Numbers: [10, 20, 30, 40, 50, 60, 70, 80]
Numbers Copy (Reversed): [80, 70, 60, 50, 40, 30, 20, 10]

# ***3. Sorting and Counting***

1. Create a list `scores` with these values: 85, 92, 78, 65, 92, 85, 74  
2. Sort the list in ascending order  
3. Sort the list in descending order  
4. Count how many times 92 appears in the list  
5. Find and print the highest and lowest scores  
6. Print the sorted list

In [ ]:
scores=[85, 92, 78, 65, 92, 85, 74]

scores.sort()
print("Sorted in Ascending Order:", scores)

scores.sort(reverse=True)
print("Sorted in Descending Order:", scores)

count_92 = scores.count(92)
print("Count of 92:", count_92)

highest = max(scores)
lowest = min(scores)
print("Highest Score:", highest)
print("Lowest Score:", lowest)

print("Final Sorted List:", scores)

Sorted in Ascending Order: [65, 74, 78, 85, 85, 92, 92]
Sorted in Descending Order: [92, 92, 85, 85, 78, 74, 65]
Count of 92: 2
Highest Score: 92
Lowest Score: 65
Final Sorted List: [92, 92, 85, 85, 78, 74, 65]

# ***4. List Manipulation***

### Letters List - Slicing and Modifying

1. Create a list `letters` with values: "a", "b", "c", "d", "e"  
2. Use slicing to create a new list with only the first three letters  
3. Use slicing to create another list with only the last two letters  
4. Find and print the index of "c" in the list  
5. Replace "d" with "z" in the original list  
6. Print the modified list

In [ ]:
letters=[ "a", "b", "c", "d", "e" ]
first_three = letters[:3]
print("First Three:", first_three)
last_two = letters[-2:]
print("Last Two:", last_two)
index_c = letters.index("c")
print("Index of 'c':", index_c)
letters[3] = "z"
print("Modified List:", letters)

First Three: ['a', 'b', 'c']
Last Two: ['d', 'e']
Index of 'c': 2
Modified List: ['a', 'b', 'c', 'z', 'e']